*{
    margin:30px;
    padding:0;
}
 /* clases creadas*/  
.color-negro{
    color:rgb(15, 14, 14)
}
.tamaño-letra{
    font-size: 12px;
    font-style: italic;  

}
.tamaño-letra2 {
    font-size: 25px;
    font-style:italic ;

} 
 
.fuente {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

 .imagen-fondo{
     background-image:url("../Imagenes/background.jpg");    
    background-repeat: no-repeat;
    background-position:78%;
    background-size:auto;
    
    } 
.imagen-fondo-p{
    background-image:url("../Imagenes/imagencamino.jpg");
    background-repeat:no-repeat ;
    background-position:50%;
  
 }

 .bg-color {
    background-color:rgb(25, 65, 25);
 }
 .bg-color2{
     background-color: rgb(245, 239, 231);
 }
 div header nav ul li a{
    
    font-style: italic;
    font-size: 15px;
    color:rgb(15, 14, 14);
}

footer ul li a{
    font-style: italic;
    font-size: 15px;
    color:rgb(15, 14, 14);
    }


header img{
    margin: 20px  ;
    margin-top: 15px;
    padding: 10px ;    
}
header nav ul li{
    display: inline-block ;
    
}

/* APLICANDO FLEXBOX */
 div  header nav{
    display:flex;
    flex-direction:row;
    justify-content:baseline ;
    align-items:center;
     

}
 div nav img{
    margin-left: 0rem; 
 }
nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
} 
a{
    text-decoration: none;
}

h1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h1 p{
    justify-content: center;
    align-items: center;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content:baseline;
    align-items:center;
}
footer li a{
    text-decoration: none;
    display: inline;
}
/* whatsapp-icono*/
footer i{
    position:relative;
    bottom: 10px ;
    right: 10px; 
    display: flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:right;

    
}
/*movimiento */
.movimiento{
    transition: all 1s;
}


.movimiento:hover{

    transform: translate(10px, 10px);
    transform: scale(1.2);
}

.carousel-item{
    height: 250px;
    width: 150px;
}
.principal-p{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}
